<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      section {
        display:flex;
        flex-flow:row wrap;
      }
      figure {
        width: 96px;
        margin: 8px;
      }
      .grouped {
        border:1px solid #ccc;
        display:inherit;
        flex-flow:row wrap;
      }
      .multicolor {
        background: linear-gradient(0deg, rgba(0,200,200,1) 25%, rgba(200,0,0,1) 75%);
      }
      img {
        height: 96px;
      }
    </style>
  </head>

  <body>
    <section>
    {{ figures }}
    </section>
  </body>
</html>
