<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      img {
        height: 64px;
      }
      table {
        border-collapse: collapse;
      }
      td {
        padding: 0px 18px;
        border: 1px solid #ddd;
      }
    </style>
  </head>

  <body>
    <label>Search <input name="q" /></label>
    <label>Part or Bin<input name="part" /></label>
    <label>Color <input name="color" list="colors" /></label>
    <label>Min Quantity <input name="minqty" value="0" /></label>
    <label><select name="groupby">
      <option value="2">Element</option>
      <option value="4">Part</option>
      <option value="7">Category</option>
    </select></label>
    <label><input name="technic" type="checkbox" checked /> Technic</label>

    <datalist id="colors">{{ color_options }}</datalist>

    <section id="stats"></section>

    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Image</th>
          <th>Part</th>
          <th>Color</th>
          <th>Name</th>
          <th>Part Bin
            <label>(<input name="has_part_bin" type="checkbox" checked /> Show Sorted)</label>
          </th>
          <th>Element Bin
            <label>(<input name="has_element_bin" type="checkbox" checked /> Show Sorted)</label>
          </th>
        </tr>
      </thead>
      <tbody id="results"></tbody>
    </table>

    <script>
      const my_parts = {{ my_parts }}

      const isChecked = q => document.querySelector('[name=' + q).checked
      const value = q => document.querySelector('[name=' + q).value

      function search_part(q, color, part, min_qty) {
        const re = new RegExp(q.toLowerCase(),'ui')

        let results = my_parts.filter((p) =>
          (!part || p[4] == part ||  p[5] == part || p[6] == part || p[7] == part) &&
          (!color || color.split(',').includes(p[0])) && (!q || re.test(p[1])) &&
          (isChecked('technic') || !p[1].includes('Technic')) &&
          (isChecked('has_element_bin') || !p[6]) &&
          (isChecked('has_part_bin') || !p[5])
       )

        if (!color && value('groupby') != 2) {
            let parts = results.reduce((storage, el) => {
              let group = el[parseInt(value('groupby'))]
              if (!storage[group]) {
                storage[group] = [...el]
                storage[group][0] = 0
                storage[group][8] = 0 // Sorted by element count
                storage[group][9] = 0 // Total element bins
              } else {
                storage[group][2] += el[2]
              }
              if (el[6]) {
                storage[group][8] += el[2]
              }
              storage[group][0] += 1
              storage[group][9] += el[6] ? 1 : 0
              storage[group][3] = 71

              let element_storage_percentage = storage[group][8] / storage[group][2]

              if (element_storage_percentage == 1.0 && !storage[group][5]) {
                storage[group][5] = '100% by element'
              }

              if (element_storage_percentage < 1.0 && storage[group][5] == '100% by element') {                storage[group][5] = ''
              }

              storage[group][6] = storage[group][8] + ' (' + element_storage_percentage.toLocaleString(undefined,{style: 'percent', maximumFractionDigits:0}) + ')'
              return storage
            }, {})

            results = Object.values(parts).reduce((p, c) => {p.push(c); return p}, [])
        }

        results = results.filter((p) => (isChecked('has_part_bin') || !p[5]))

        results = results.filter((p) => (!min_qty || p[2] >= min_qty))

        results = results.sort((a,b) => {return a[2] < b[2]})

        return results
      }

      function update() {
        let results = search_part(value('q'),value('color'),value('part'),value('minqty'))

        let count = results.reduce((p, c) => {return c[2] + p}, 0)
        let sorted_elements = results.reduce((p, c) => {return( c[6] ? c[2] : 0) + p}, 0)
        let sorted_parts = results.reduce((p, c) => {return( c[5] || c[6] ? c[2] : 0) + p}, 0)
        
        document.querySelector('#stats').textContent = `
          Unique: ${results.reduce((p, c) => {return 1 + p}, 0)}
          Total quantity: ${count}
          Sorted Elements: ${sorted_elements} (${parseInt(100*sorted_elements/count)}%)
          Sorted Parts: ${sorted_parts} (${parseInt(100*sorted_parts/count)}%)
        `

        document.querySelector('#results').innerHTML = results.slice(0,100).reduce((p,r) => {
          let img_url = 'https://m.rebrickable.com/media/parts/ldraw/' + r[3] + '/' + r[4] + '.png'
          return p + `<tr>
            <td>${r[2]}</td>
            <td><img src="${img_url}"></td>
            <td><a href="${r[4]}.html">${r[4]}</a></td>
            <td>${r[0]}</td>
            <td>${r[7]}${value('groupby') != 7 ? ', ' + r[1] + ' (<a href="https://rebrickable.com/parts/' + r[4] + '">rb</a>)' : ''}</td>
            <td>${r[5] || ''}</td>
            <td>${r[6] || ''}</td></tr>`
        }, '')
      }

      document.querySelectorAll('input,select').forEach(e => e.addEventListener('input', update))

      update()
    </script>
  </body>
</html>
