<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body,input,select {
        font-family:sans-serif;
        font-size:16px;
      }
      body {
        margin:0 16pt;
      }
      img {
        height: 64px;
      }
      table {
        border-collapse: collapse;
      }
      thead {
        border-bottom: 1pt solid #ccc;
      }
      thead th {
        vertical-align: top;
      }
      td, th {
        padding: 10pt;
        text-align: left;
        font-weight: normal;
        line-height: 1.5;
      }
      td:nth-child(1), th:nth-child(1),
      td:nth-child(3), th:nth-child(3),
      th:nth-child(1) input,
      th:nth-child(3) input {
        text-align: right;
      }
      input {
        width:100%;
      }
    </style>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            <label>Part<input name="part" size=1 /></label>
          </th>
          <th>
            <label>Color
            <input name="color" list="colors" size=1 /></label>
            <datalist id="colors">{{ color_options }}</datalist>
          </th>
          <th>
            <label>Category <input name="category" size=1 /></label>
          </th>
          <th>
            <label>Name <input name="q" size=1 /></label>
          </th>
          <th>
            <div>Part Bin</div>
            <select name="part_bin_filter">
              <option value=all>All</option>
              <option value=unsorted>Unsorted</option>
            </select>
          </th>
          <th>
            <div>Element Bin</div>
            <select name="element_bin_filter">
              <option value=all>All</option>
              <option value=unsorted>Unsorted</option>
            </select>
          </th>
          <th>
              <label>Quantity <input name="minqty" value="0" size=1 /></label>
          </th>
        </tr>
      </thead>
      <tbody id="results"></tbody>
    </table>

    <label>Group by <select name="groupby">
      <option value="2">Element</option>
      <option value="4">Part</option>
      <option value="7">Category</option>
    </select></label>
    <section id="stats"></section>

    <script>
      const my_parts = {{ my_parts }}

      const isChecked = q => document.querySelector('[name=' + q).checked
      const value = q => document.querySelector('[name=' + q).value

      function keyword_match(keywords, haystack) {
        return keywords.split(' ').every(keyword => {
          if (keyword[0] == '-') {
            return !haystack.toLowerCase().includes(keyword.substring(1).toLowerCase())
          } else {
            return haystack.toLowerCase().includes(keyword.toLowerCase())
          }
        })
      }

      function search_part(q, color, category, part, min_qty) {
        let results = my_parts.filter((p) =>
          (!part || p[4] == part) &&
          (!category || p[7] == category) &&
          (!color || color.split(',').includes(p[0])) && (!q || keyword_match(q, p[1])) &&
          (value('element_bin_filter') == 'all' || !p[6]) &&
          (value('part_bin_filter') == 'all' || !p[5])
       )

        if (!color && value('groupby') != 2) {
            let parts = results.reduce((storage, el) => {
              let group = el[parseInt(value('groupby'))]
              if (!storage[group]) {
                storage[group] = [...el]
                storage[group][0] = 0
                storage[group][8] = 0 // Sorted by element count
                storage[group][9] = 0 // Total element bins
              } else {
                storage[group][2] += el[2]
              }
              if (el[6]) {
                storage[group][8] += el[2]
              }
              storage[group][0] += 1
              storage[group][9] += el[6] ? 1 : 0
              storage[group][3] = 71

              let element_storage_percentage = storage[group][8] / storage[group][2]

              if (element_storage_percentage == 1.0 && !storage[group][5]) {
                storage[group][5] = '100% by element'
              }

              if (element_storage_percentage < 1.0 && storage[group][5] == '100% by element') {                storage[group][5] = ''
              }

              storage[group][6] = storage[group][8] + ' (' + element_storage_percentage.toLocaleString(undefined,{style: 'percent', maximumFractionDigits:0}) + ')'
              return storage
            }, {})

            results = Object.values(parts).reduce((p, c) => {p.push(c); return p}, [])
        }

        results = results.filter((p) => (value('part_bin_filter') == 'all' || !p[5]))

        results = results.filter((p) => (!min_qty || p[2] >= min_qty))

        results = results.sort((a,b) => {return a[2] < b[2]})

        return results
      }

      function update() {
        let results = search_part(value('q'),value('color'),value('category'),value('part'),value('minqty'))

        let count = results.reduce((p, c) => {return c[2] + p}, 0)
        let sorted_elements = results.reduce((p, c) => {return( c[6] ? c[2] : 0) + p}, 0)
        let sorted_parts = results.reduce((p, c) => {return( c[5] || c[6] ? c[2] : 0) + p}, 0)
        
        document.querySelector('#stats').textContent = `
          Unique: ${results.reduce((p, c) => {return 1 + p}, 0)}
          Total quantity: ${count}
          Sorted Elements: ${sorted_elements} (${parseInt(100*sorted_elements/count)}%)
          Sorted Parts: ${sorted_parts} (${parseInt(100*sorted_parts/count)}%)
        `

        document.querySelector('#results').innerHTML = results.slice(0,100).reduce((p,r) => {
          let img_url = 'https://m.rebrickable.com/media/parts/ldraw/' + r[3] + '/' + r[4] + '.png'
          return p + `<tr>
            <td><img src="${img_url}"></td>
            <td><a href="${r[4]}.html">${r[4]}</a></td>
            <td>${r[0]}</td>
            <td>${r[7]}</td>
            <td>${r[1] + ' (<a href="https://rebrickable.com/parts/' + r[4] + '">rb</a>)'}</td>
            <td>${r[5] || ''}</td>
            <td>${r[6] || ''}</td>
            <td>${r[2]}</td></tr>`
        }, '')
      }

      let updateTimer;

      document.querySelectorAll('input,select').forEach(e => e.addEventListener('input', () => {
        clearTimeout(updateTimer)
        updateTimer = setTimeout(update, 100)
      }))
      update()
    </script>
  </body>
</html>
