<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    <style>
      img {
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <section>
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Year</th>
            <th>Number</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Parts</th>
          </tr>
        </thead>
        <tbody>
          {{ sets }}
        </tbody>
      </table>
    </section>
  </body>
</html>
